@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;@400;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;300;500;600&display=swap');

body{
    background-color: #fff;
}

.navbar{
    background-color: transparent !important;
    
}

.nav-item{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 30px;
    padding-right: 15px;
}

@media (max-width: 1199px) {
    .linea{ 
       display: none;
    
    
    }
}


@media (min-width: 1200px) {
    .linea {
        display: block;
        float: right;
        position: sticky;
        top: 60px;
    }
}




@media (min-width: 1200px) {
    .landing{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.navbar-nav .nav-link.active{
    color: #0A1045 !important;
}

.nav-link{
    color: #669CFF;

}
.nav-link:hover{
    color: #C8DBFF;
}

.navbar-toggler {
    border: none;
    
}

a{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #0A1045;
    text-underline-offset: 3px;
}

h6{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #0A1045;
}



.navbar-nav .active { text-decoration: underline;  text-underline-offset: 10px; }


.navbar-expand-md .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(10, 16, 69, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}


.progetto{
    padding-top: 35px;
}

h6{
    color: #2b2b2b;
    font-family: 'Sofia Sans', sans-serif;
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #0A1045;

}

@media (max-width: 767px) {
    h1 {
        font-size: 55px;
        padding-bottom: 15px;
        line-height: 77px;
    }
}


@media (min-width: 768px) {
    h1 {
        font-size: 68px;
        line-height: 95px;
      
    }
}





@media (max-width: 1199px) {
    #backtotop{
         display: none;

    }
  }

  @media (min-width: 1200px) {
    #backtotop{
        position: fixed;
        bottom: 50px;
        right: 50px;
        background-color: #0A1045;
        color: #fff;
        padding: 11.5px 18.5px;
        border-radius: 50px;
        cursor: pointer;
        width: 50px;
        height: 50px;

    }
  }


  #backtotop{
    display: none;
    
  }

  .card {
    box-shadow: 0px 0px 12px rgba(49, 49, 49, 0.35);
  }